.retailerListErrorContainer {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: bold;
  color: red;
}

.retailerListButton {
  margin-left: 10px;
  float: right;
}
