.manufacturerEditorFormContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.manufacturerEditorForm {
  width: 80%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.manufacturerEditorFormLabel {
  font-size: 14px;
  font-weight: 600;
  color: rgb(34, 34, 34);
}

.manufacturerEditorButton {
  margin-left: 10px;
  float: right;
}

.manufacturerEditorError {
  font-weight: bold;
  color: red;
}
