.albumPickerFormContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.albumPickerForm {
  width: 100vw;
  padding-top: 20px;
  padding-bottom: 20px;
}

.albumPickerLabel {
  margin-right: 20px;
  font-size: 14px;
  font-weight: 600;
  color: rgb(34, 34, 34);
}

.alunmPickerGenreSelector {
  width: 200px;
}
