.sessionListFormContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sessionListForm {
  width: 100vw;
  padding-top: 20px;
  padding-bottom: 20px;
}

.sessionListLabel {
  margin-right: 20px;
  font-size: 14px;
  font-weight: 600;
  color: rgb(34, 34, 34);
}

.sessionListSelector {
  width: 200px;
}

.sessionListMessage {
  margin-bottom: 10px;
  padding: 5px;
  border: 2px solid #007316;
  background: #6bdb81;
  color: #007316;
  text-align: center;
}

.sessionListError {
  margin-bottom: 10px;
  padding: 5px;
  border: 2px solid red;
  background: pink;
  color: red;
  text-align: center;
}
