.sessionDetailsSaveButton {
  margin-left: 10px;
  float: right;
}

.sessionDetailsMessage {
  margin-bottom: 10px;
  padding: 5px;
  border: 2px solid #007316;
  background: #6bdb81;
  color: #007316;
  text-align: center;
}

.sessionDetailsError {
  margin-bottom: 10px;
  padding: 5px;
  border: 2px solid red;
  background: pink;
  color: red;
  text-align: center;
}
