.exportFormContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.exportForm {
  width: 620px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.exportButton {
  float: right;
}

.exportMessage {
  margin-bottom: 10px;
  padding: 5px;
  border: 2px solid #007316;
  background: #6bdb81;
  color: #007316;
  text-align: center;
}

.exportError {
  margin-bottom: 10px;
  padding: 5px;
  border: 2px solid red;
  background: pink;
  color: red;
  text-align: center;
}
