.artistMoodEditorFormContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.artistMoodEditorForm {
  width: 80%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.artistMoodEditorError {
  font-weight: bold;
  color: red;
}
