.genreEditorFormContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.genreEditorForm {
  width: 80%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.genreEditorFormLabel {
  font-size: 14px;
  font-weight: 600;
  color: rgb(34, 34, 34);
}

.genreEditorButton {
  margin-left: 10px;
  float: right;
}

.genreEditorError {
  font-weight: bold;
  color: red;
}
