.playlistBuilderFormContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.playlistBuilderForm {
  width: 100vw;
  padding-top: 20px;
  padding-bottom: 20px;
}

.playlistBuilderLabel {
  margin-right: 20px;
  font-size: 14px;
  font-weight: 600;
  color: rgb(34, 34, 34);
}

.playlistBuilderSelector {
  width: 200px;
}

.playlistSaveButton {
  float: right;
}

.savedMessage {
  margin-bottom: 10px;
  padding: 5px;
  border: 2px solid #007316;
  background: #6bdb81;
  color: #007316;
  text-align: center;
}