name: .NET Core CI Build

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 9.0.304
    - name: Set up JDK 11
      uses: actions/setup-java@v1
      with:
        java-version: 19
    - name: Run unit tests and generate code coverage
      run: dotnet test src/MusicCatalogue.sln /p:CollectCoverage=true /p:CoverletOutput=coverage/ /p:CoverletOutputFormat=lcov
    - name: Generage Coveralls code coverage
      uses: coverallsapp/github-action@master
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}
        path-to-lcov: src/MusicCatalogue.Tests/coverage/coverage.info

