.moodEditorFormContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.moodEditorForm {
  width: 80%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.moodEditorFormLabel {
  font-size: 14px;
  font-weight: 600;
  color: rgb(34, 34, 34);
}

.moodEditorButton {
  margin-left: 10px;
  float: right;
}

.moodEditorError {
  font-weight: bold;
  color: red;
}
